@font-face {
  font-family: "Verdana";
  font-weight: normal;
  src: url("../assets/fonts/Verdana/Verdana.ttf") format("truetype");
}

@font-face {
  font-family: "Verdana";
  font-weight: bold;
  src: url("../assets/fonts/Verdana/Verdana-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Verdana";
  font-style: italic;
  src: url("../assets/fonts/Verdana/Verdana-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Verdana";
  font-weight: bold;
  font-style: italic;
  src: url("../assets/fonts/Verdana/Verdana-BoldItalic.ttf") format("truetype");
}
