// font-sizes
$common-text-fz: 1rem;
$common-text-big-fz: 1.25rem;
$title-fz: 1.8rem;
$title-big-fz: 5rem;

// colors
$primary-text-cl: #000;
$secondary-text-cl: #fff;

$primary-cl-1: #ffd77f;
$primary-cl-2: #ff9933;
$primary-cl-3: #8f1a2a;

$secondary-cl-1: #e9e6b1;
$secondary-cl-2: #e1ddd7;
$secondary-cl-3: #ffffff;

$green-cl: #36995c;
$dark-green-cl: #24705b;
$red-cl: #ee2643;
$dark-red-cl: #7b0f1e;
$blue-cl: #4965eb;
$dark-blue-cl: #003594;
