@use "variables" as v;
@forward "fonts";
@forward "reset";

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

.App {
  font-family: "Verdana";
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.v-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.h-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
