certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
cryptography==43.0.1
idna==3.8
iniconfig==2.0.0
mirakuru==2.5.2
mysql-connector-python==9.0.0
packaging==24.1
pluggy==1.5.0
port-for==0.7.3
psutil==6.0.0
pycparser==2.22
PyJWT==2.9.0
PyMySQL==1.1.1
pytest==8.3.3
pytest-mysql==3.0.0
pytz==2024.2
requests==2.32.3
urllib3==2.2.3
