@use "../../scss/variables" as v;

$logo-size: 60px;

.header {
  background-color: v.$secondary-cl-3;
  padding: 10px 0;
  background-color: v.$primary-cl-2;

  &__logo-container {
    gap: 5px;
    align-items: end !important;
    &:hover {
      cursor: pointer;
      .header__title {
        color: v.$secondary-text-cl;
        text-decoration: underline;
      }
    }
  }
  &__title {
    color: v.$primary-text-cl;
    font-weight: 600;
    font-size: calc($logo-size / 2);
    text-transform: uppercase;
    font-style: italic;
    transition: all 300ms;
  }

  & .link-box {
    gap: 15px;
  }

  &__container {
    justify-content: end;
    background-color: inherit;
  }
  &__logo {
    width: $logo-size;
  }
}
