@use "../../scss/variables" as v;

.header {
  background-color: v.$secondary-cl-3;
  border-bottom: 1px solid lightgray;
  padding: 10px 0;

  & .link-box {
    gap: 15px;
  }

  &__container {
    justify-content: end;

    .logo {
      width: 70px;
    }
  }
}
