@use "../../scss/variables" as v;

.header {
  background-color: v.$secondary-cl-3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid lightgray;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 100px;
    }
  }
}
